body {
    margin: 0;
}

.one {
    background-color: lightgray;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 25px;
}

.box {
    background-color: #5790DC;
    height: 80px;
    width: 80px;
}

.two {
    height: 244px;
    padding: 50px;
    box-sizing: border-box;
    color: rgb(30, 30, 30);
    font-size: 20px;
    font-family: Arial;
    line-height: 25px;
}

.three {
    background-color: #5790DC;
    height: 121px;
    width: 100%;
}

.four {
    background-color: #7AE0C3;
    height: 121px;
    width: 100%;
}

.five {
    background-color: #C3E691;
    height: 121px;
    width: 100%;
}

.six {
    background-color: #F7E652;
    height: 121px;
    width: 100%;
}